* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    color: #000000;
    background-color: #ffffff;
    
}

header {
  background-color: #fff;
  position: static;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
}

.logo h1 {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: italic;
}

.icon-box {
  background-color: #3b82f6;
  color: #fff;
  padding: 6px 6px;
  border-radius: 6px;
  font-size: 18px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #2563eb;
}



.get-started {
  background-color: #2563eb;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  font-style: italic;
}

.get-started:hover {
  background-color: #1e40af;
}

/* ========== RESPONSIVE ========== */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 999;
  }

  .nav-links.active {
    display: flex;
  }

  .get-started {
    margin-left: auto;
    margin-top: 10px;
  }

  .container {
    flex-direction: row;
  }
}


/* Hero Section */

.hero {
    background-color: rgb(239, 244, 255);
    padding: 150px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 1.9rem;
    font-weight: 500;
    color: #111827;
    margin-bottom: 0.4rem;
   
}

.hero h1 span {
    color: #2563eb; 
    margin-top: -12px;

}

.hero p {
    font-size: 1.3rem;
    font-weight: larger;
    color: #6b7280; /* Tailwind gray-500 */
    max-width: 850px;
    margin: 0 auto 40px;
    line-height: 1.5;
}

.hero-buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
}

.buttons {
    padding: 10px 24px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.btn-left {
    background-color: #2563eb;
    color: white;
}

.btn-left:hover {
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.btn-right {
    background-color: white;
    color: #111827;
    border: 1px solid #e5e7eb;
}

.btn-right:hover {
    background-color: #f3f4f6;
    transition: all 0.3s ease;
}

.btn .fa-arrow-right {
    font-size: 0.9rem;
    padding: 8px;
    transition: transform 0.3s ease;

}

@media (max-width: 768px) {
  
  .hero h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .hero p {
    font-size: 1rem;
    padding-left: 0 10px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .btn {
    width: 100%;
    justify-content: center;
  }
}

.statistics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

.stat-number {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2563eb;
}

.stat-label {
  font-size: 1.2rem;
  color: #6b7280;
}

@media (max-width: 768px) {
  .statistics {
    grid-template-columns: repeat(2, 1fr); /* 2 per row */
    gap: 20px;
  }

  .stat-number {
    font-size: 2rem;
  }

  .stat-label {
    font-size: 1rem;
  }
}


.services {
    padding: 60px 20px;
    background-color: #f3f4f6; /* Tailwind gray-200 */
    
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #111827; /* Tailwind gray-900 */
}

.section-title p {
    font-size: 1.4rem;
    color: #6b7280; /* Tailwind gray-500 */
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.service-card {
    background-color: #fff; /* Tailwind white */
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.service-card h3 {
    color: rgb(5, 5, 5);
    font-size: 1.4rem;
    padding: 15px;
}

.service-card p {
    color: #6b7280;
}

.service-card i {
    font-size: 3rem;
    color: #3b82f6;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 60px;
    max-width: 1600px;
    margin: auto;
}

.about-text {
    flex: 1 1 500px;
}

.about-text h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #0f172a;
}

.about-text p {
    font-size: 1rem;
    color-scheme: #334155;
    margin-bottom: 30px;
    line-height: 1.6;
}

.about-text ul {
    list-style: none;
    padding: 0;
}

.about-text li {
    margin-bottom: 16px;
    font-size: 1rem;
    color: #1e293b;
    position: relative;
    padding-left: 28px;
}

.about-text li::before {
    content: '\f058';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #10b981;
    position: absolute;
    left: 0;
    top: 0;
}

.about-image {
    flex: 1 1 400px;
    background-color: #dbeafe;
    padding: 15px;
    border-radius: 16px;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}


  .carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 10px 0;
 
  }

  .carousel-caption {
    bottom: 20%;
    left: 5%;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }

  .carousel-caption h5 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .carousel-caption p {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .carousel-caption .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  @media (max-width: 768px) {
    .carousel-caption {
        bottom: 10%;
        padding: 10px;
    }
    
    .carousel-caption h5 {
        font-size: 1.4rem;
    }
    
    .carousel-caption p {
        font-size: 0.9rem;
    }
  }

  @media (max-width: 576px) {
    .carousel-caption {
        bottom: 5%;
        padding: 8px;
    }
    
    .carousel-caption h5 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    
    .carousel-caption p {
        font-size: 0.8rem;
        margin-bottom: 8px;
    }
    
    .carousel-caption .btn {
        font-size: 0.8rem;
        padding: 5px 10px;
    }
  }


.contact-section {
      text-align: center;
      padding: 60px 20px;
      background-color: #0f172a;
    }

    .contact-section h2 {
      font-size: 2.2rem;
      margin-bottom: 15px;
      color: #fff;
    }

    .contact-section p {
      color: #cbd5e1;
      font-size: 1.1rem;
      max-width: 650px;
      margin: 0 auto 40px auto;
    }

    .contact-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 200px;
      margin-bottom: 40px;
    }

    .info-box {
      text-align: center;
    }

    .info-box i {
      font-size: 2rem;
      color: #3b82f6;
      margin-bottom: 10px;
    }

    .info-box h4 {
      margin: 10px 0 5px;
      font-weight: 20px;
      color: #fff;
    }

    .info-box p {
      margin: 0;
      color: #94a3b8;
    }

    .contact-section button {
      background-color: #3b82f6;
      color: white;
      border: none;
      padding: 12px 24px;
      border-radius: 6px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .contact-section button:hover {
      background-color: #2563eb;
    }

    
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #1e293b;
      padding: 15px 20px;
      font-size: 0.9rem;
      color: #cbd5e1;
      flex-wrap: wrap;
    }

    .footer-left {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: bold;
      font-size: 20px;
    }

    .footer-left i {
      background-color: #3b82f6;
      color: white;
      padding: 5px;
      border-radius: 5px;
      font-size: 20px;
      text-align: center;
      line-height: 30px;
    }

    .footer-right {
        padding: 20px;
    }

@media (max-width: 600px) {
      .contact-info {
        flex-direction: column;
        gap: 30px;
      }

      footer {
        text-align: center;
        flex-direction: column;
        gap: 10px;
      }
}


@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .about-text, .about-image {
        flex: 1 1 100%;
    }

    .about-text li {
        text-align: left;
    }
}



